body{
	background-color: #ECE5C7;
}
h1{
	color: #CDC2AE;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 50px;
	font-weight: 700;
	text-align: center;
	padding: 20px 50px;
	background-color: #354259;
	display: inline-block;
	border-radius: 12px;
}